resource/datamodel/container.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="container" type="containerType"/>
    <xs:complexType name="containerType">
        <xs:sequence>
            <xs:element type="widgetType" name="widget" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="layout"/>
    </xs:complexType>
    <xs:complexType name="textBoxType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="location" use="optional"/>
                <xs:attribute type="xs:string" name="height" use="optional"/>
                <xs:attribute type="xs:string" name="horizontalAlignment" use="optional"/>
                <xs:attribute type="xs:string" name="label" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="readonly" use="optional"/>
                <xs:attribute type="xs:string" name="tabindex" use="optional"/>
                <xs:attribute type="xs:string" name="tooltip" use="optional"/>
                <xs:attribute type="xs:string" name="verticalAlignment" use="optional"/>
                <xs:attribute type="xs:string" name="visible" use="optional"/>
                <xs:attribute type="xs:string" name="width" use="optional"/>
                <xs:attribute type="xs:string" name="enabled" use="optional"/>
                <xs:attribute type="xs:string" name="source" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="widgetType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="labelType" name="label"/>
            <xs:element type="textBoxType" name="textBox"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="labelType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="location" use="optional"/>
                <xs:attribute type="xs:string" name="width" use="optional"/>
                <xs:attribute type="xs:string" name="enabled" use="optional"/>
                <xs:attribute type="xs:string" name="height" use="optional"/>
                <xs:attribute type="xs:string" name="horizontalAlignment" use="optional"/>
                <xs:attribute type="xs:string" name="label" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="source" use="optional"/>
                <xs:attribute type="xs:string" name="tabindex" use="optional"/>
                <xs:attribute type="xs:string" name="tooltip" use="optional"/>
                <xs:attribute type="xs:string" name="verticalAlignment" use="optional"/>
                <xs:attribute type="xs:string" name="visible" use="optional"/>
                <xs:attribute type="xs:string" name="readonly" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>